body{
font-family: Arial, Helvetica, sans-serif;
margin:0;
background:#f7f7fb;
color:#333;
}

/* HEADER */
nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#8508ce;
box-shadow:0 2px 10px rgba(0,0,0,0.05);
}


nav ul{
display:flex;
list-style:none;
gap:30px;
}

/* NAV LINKS */
nav a{
text-decoration:none;
color:white;
font-weight:600;
padding:8px 14px;
border-radius:6px;
transition:0.3s;
}

/* HOVER EFFECT */
nav a:hover{
background:#f3deff;
color:#12004c;
}

/* HERO SECTION */
.container{
display:flex;
justify-content:space-between;
align-items:center;
padding:80px;
}

/* TITLE COLOR */
.highlight{
color:#a100ff;
}

/* IMAGE CIRCLE */
.circle{
width:380px;
height:380px;
background:#e2e2d2;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
}

.circle img{
width:340px;
border-radius:20px;
}